*.elc
*~
.bm-repository
.cask/
ac-comphist.dat
clang-complete
auto-save-list/
el-get/
elisp/
history
snippets/
elpa/
elscreen
ensime
recentf
request/
tramp
url/
dict/
.DS_Store
.scratch
backup/
abbrev_defs
.mc-lists.el
desktops/
emojis/
eshell/
lisp/PG
network-security.data
opam-user-setup.el
srecode-map.el
seagle_emacs.d
places