*.elc
*~
.bm-repository
.cask/
.cache/
.emacs.desktop
elisp/
history
snippets/
elscreen
ensime/
recentf
tramp
url/
dict/
.DS_Store
.scratch
backup/
abbrev_defs
.mc-lists.el
desktops/
emojis/
eshell/
lisp/PG
network-security.data
srecode-map.el
seagle_emacs.d
places
request/
*api*